<!-- views/submission.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

<header>
    <% include ./partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Rendezvous'18</h1>
        <p>CAP Portal</p>

        <% if (!user) { %>
		  	<!-- <div style="width:500px;height:180px;background-color:#ececec;padding:80px;margin-left:22%;margin-top:9%;"> -->
				<h2 style="font-size:40px;">Welcome! Please log in.</h2>
				<a href="/capPortal/auth/facebook"><img src="fb-login.jpg" width="151" height="24"></a>
			<!-- </div> -->
		<% } else { %>
			<!-- <h2>Hello, <%= user.displayName %>.</h2> -->
			<p><%= msg %></p>
			<h1>Add Task</h1>
			<form method="post" action="/capPortal/add_task">
				Task Description:<br>
				<input type="text" name="task_desc" id="task_desc">
			    <button type="submit">Submit</button>
			</form>
		<% } %>

    </div>
</main>

<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>
