<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rendezvous'18 | A Symphony of Nostalgia</title>
    <link rel="icon" href="./img/rdv-bruh.png" type="image/png">
    <link rel="shortcut icon" href="./img/rdv-bro.ico" type="img/x-icon">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <style>
      html {
        height: 100%;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: 'Merriweather';
        font-weight: 700;
      }

      body {
        height: 100%;
        min-height: 35rem;
        font-family: 'Source Sans Pro';
        font-weight: 300;
      }
      .masthead {
        position: relative;
        padding-bottom: 3rem;
        z-index: 2;

      }

      .masthead .masthead-bg {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        min-height: 35rem;
        height: 100%;
        background-color: rgba(0, 46, 102, 0.8);
        transform: skewY(4deg);
        transform-origin: bottom right;
      }

      .masthead .masthead-content h1 {
        font-size: 2.5rem;
      }

      .masthead .masthead-content p {
        font-size: 1.2rem;
      }

      .masthead .masthead-content p strong {
        font-weight: 700;
      }

      .masthead .masthead-content .input-group-newsletter input {
        font-size: 1rem;
        padding: 1rem;
      }

      .masthead .masthead-content .input-group-newsletter button {
        font-size: 0.8rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1rem;
      }

      @media (min-width: 768px) {
        .masthead {
          height: 100%;
          min-height: 0;
          width: 42.5rem;
          padding-bottom: 0;
        }
        .masthead .masthead-bg {
          min-height: 0;
          transform: skewX(-8deg);
          transform-origin: top right;
        }
        .masthead .masthead-content {
          padding-left: 3rem;
          padding-right: 10rem;
        }
        .masthead .masthead-content h1 {
          font-size: 3.5rem;
        }
        .masthead .masthead-content p {
          font-size: 1.3rem;
        }
      }

      .social-icons {
        position: absolute;
        margin-bottom: 2rem;
        width: 100%;
        z-index: 2;
        margin-top: 50px;
      }

      .social-icons ul {
        margin-top: 2rem;
        width: 100%;
        text-align: center;
      }

      .social-icons ul > li {
        margin-left: 1rem;
        margin-right: 1rem;
        display: inline-block;
      }

      .social-icons ul > li > a {
        display: block;
        color: white;
        background-color: rgba(0, 46, 102, 0.8);
        border-radius: 100%;
        font-size: 2rem;
        line-height: 4rem;
        height: 4rem;
        width: 4rem;
      }

      @media (min-width: 768px) {
        .social-icons {
          margin: 0;
          position: absolute;
          right: 2.5rem;
          bottom: 2rem;
          width: auto;
        }
        .social-icons ul {
          margin-top: 0;
          width: auto;
        }
        .social-icons ul > li {
          display: block;
          margin-left: 0;
          margin-right: 0;
          margin-bottom: 2rem;
        }
        .social-icons ul > li:last-child {
          margin-bottom: 0;
        }
        .social-icons ul > li > a {
          transition: all 0.2s ease-in-out;
          font-size: 2rem;
          line-height: 4rem;
          height: 4rem;
          width: 4rem;
        }
        .social-icons ul > li > a:hover {
          background-color: #002E66;
        }
      }

      .btn-secondary {
        background-color: #cd9557;
        border-color: #cd9557;
      }

      .btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
        background-color: #ba7c37 !important;
        border-color: #ba7c37 !important;
      }

      .input {
        font-weight: 300 !important;
      }

    </style>

  </head>

  <body>

    <div class="masthead">
      <img src="./img/image.jpg" style="position: fixed;">
      <div class="masthead-bg"></div>
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-12 my-auto">
            <div class="masthead-content text-white text-center py-5 py-md-0">
              <div class="text-center"><img src="./img/rdv-bruh.png" style="width: 60px;display: inline-block;">
                <h1 style="position: relative;">RENDEZVOUS<br>2018</h1>
                <h4>A SYMPHONY OF NOSTALGIA</h4>
              </div>
              <br>
              <br>
              <br>
              <br>
              <h1 class="mb-3">Coming Soon!</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="social-icons">
      <ul class="list-unstyled text-center mb-0">
        <li class="list-unstyled-item">
          <a href="https://www.facebook.com/rendezvous.iitd/" target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li class="list-unstyled-item">
          <a href="https://www.instagram.com/rendezvous.iitdelhi/">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>

  </body>

</html>
