<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="/capPortal/">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            RDV'18
        </a>

        <ul class="nav navbar-nav">
            <li><a href="/capPortal/">Home</a></li>
            <li><a href="/capPortal/tasks">Task</a></li>
            <li><a href="/capPortal/add_task">Add Task</a></li>
            <li><a href="/capPortal/delete_task">Delete Task</a></li>
            <li><a href="/capPortal/leaderboard">LeaderBoard</a></li>
        </ul>
    </div>

</div>
</nav>
