<html lang="en">
  <head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="301742842533-7g5c1qpv7lmln3r153ngv7k3m6hnk14b.apps.googleusercontent.com">
    <link rel="stylesheet" href="./../css/style.css">
  </head>
  <body><div id="fb-root"></div>
      <div id="boxes-wrapper" class="boxes-wrapper">          
            <div class="error-box">
              <div class="inner-table">
                <div class="inner-cell">
                  err
                </div>
              </div>
            </div>

          <div class="loading-box">
            <div class="inner-table">
              <div class="inner-cell">
                Doing my job ...
              </div>
            </div>
          </div>
          <script type="text/javascript">    function myfunk(val){
      var obj = {
        "val": val
      }
      $.post('/doTransx',obj).done()
    }</script>
    <div class="login-box"><% if (user) { %> 
			<div class="userProfile">
			  <div class="name"> shubham shinde</div>
			  <% if(user.address) {%>
				<div>Wallet Address</div>
			  	<div class="userToken">jaekltjieoavhdklbhdsjkbhdskbljdsklbhdbjkhf </div>	
			  	<button class="loginBtn" id="waitbutton1" onClick="myfunk(1)" data="1">Slow 32523s</button>
			  	<button class="loginBtn" id="waitbutton2" onClick="myfunk(2)" data="1">Fast 43634s</button>
			  	<button class="loginBtn" id="waitbutton3" onClick="myfunk(3)" data="1">Fastest 4634s</button>		  
				<% } else { %> 
					<div class="inputether">INPUT YOUR ADDRESS</div>
					<!-- <input id="Input Address" type="text">
					<button id="hashSubmit">SUBMIT</button> -->
						<form action="/addAddress" method="POST">
							<input class="loginBtns" name="address" placeholder="add address here"/>
							<button class="loginBtn" type="submit">SUBMIT</button>
						</form>
						<div style="margin-top:20px">OR</div>
						<form action="/createAccount" method="POST">
							<button class="loginBtn" type="submit">CREATE ACCOUNT</button>
						</form>
				<% } %>
			</div>
			<% } else { %> 
            <div class="header">
              <span>Login</span>
            </div>
            <div class="content">
              <!-- <div class="input-group">
                <label>Email-Address</label>
                <input type="email" placeholder="max@example.com" required />
              </div>
              <div class="input-group password-group">
                <label>Password</label>
                <input type="password" placeholder="12345678" required />
              </div> -->
              <div class="input-group">
                <!-- <input type="submit" value="Login" /> -->
                <a href="/auth/facebook"><button class="loginBtn loginBtn--facebook">
                    Login with Facebook
                </button></a>
          </div>
				</div>
			<% } %>
			<% if (user) { %> 
			<form action="/logout" method="GET">
			 <button type="submit" class="loginBtn" id="logoutbutton">LOGOUT</button>
			</form>
			<% } %> 
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="./../js/jquery-1.7.1.min.js"></script>
    <script src="./../js/index.js"></script>
  </body>
</html>

